{% load video_icons %}
<div class="magicPhoto magicPhoto--{{ instance.style }}">
    <div class="magicPhoto__container">
        <div class="magicPhoto__header">

{% if page_prev.extended_object.get_absolute_url %}
            <a href="{{ page_prev.extended_object.get_absolute_url }}" class="magicPhotoLink--prev magicPhotoLink magicPhotoLink--{{ instance.style }}">
{% if page_prev.short_hero_name %}

                <div class="magicPhotoLink__content magicPhotoLink__content--name">{{ page_prev.short_hero_name }},</div>
{% endif %}
{% if page_prev.short_place %}
                <div class="magicPhotoLink__content magicPhotoLink__content--place">{{ page_prev.short_place }}</div>
{% endif %}
            </a>
{% else %}
            <span class="magicPhotoLink"></span>
{% endif %}

{% if page_next.extended_object.get_absolute_url %}
            <a href="{{ page_next.extended_object.get_absolute_url }}" class="magicPhotoLink--next  magicPhotoLink magicPhotoLink--{{ instance.style }}">
{% if page_next.short_hero_name %}
                <div class="magicPhotoLink__content magicPhotoLink__content--name">{{ page_next.short_hero_name }},</div>
            {% endif %}
            {% if page_next.short_place %}
                <div class="magicPhotoLink__content magicPhotoLink__content--place">{{ page_next.short_place }}</div>
            {% endif %}

            </a>
{% else %}
            <span class="magicPhotoLink"></span>

{% endif %}


            <h1 class="magicPhoto__title magicPhoto__title--{{ instance.style }} js-hero-name">{{ instance.title }}</h1>
{% if instance.subtitle %}
            <div class="magicPhoto__subTitle magicPhoto__subTitle--{{ instance.style }}">{{ instance.subtitle }}</div>
{% endif %}


        </div>
        <div class="magicPhoto__video">
            {% loading %}
            <video
                class="magicPhoto__videoContent"
                src="{{ instance.video.url }}"
                autoplay
                loop
                muted
            >
            </video>
        </div>
{% if instance.region %}
        <div class="magicPhoto__region magicPhoto__region--{{ instance.style }}">
            <span class="magicPhoto__regionTitle magicPhoto__regionTitle--{{ instance.style }}">{{ instance.region }}</span>
            <div class="magicPhoto__lineDesign magicPhoto__lineDesign--{{ instance.style }}"></div>
        </div>
{% endif %}
    </div>
</div>
