{% load place_tags %}
<div class="place">
    <div class="place__image">
        <div class="place__imageContainer parallax">
            <div class="place__imageContent parallax__bg js-parallax" style="background-image: url({{ instance.image.url }})"></div>
        </div>
    </div>
    <div class="place__about">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-7 push-md-5">
                    <div class="place__title">Место</div>
                    <div class="place__description">{{ instance.description|safe }}</div>
                </div>
                <div class="col-xs-12 col-md-5 pull-md-7">
                    {% ussr_map instance.left instance.top %}
                </div>
            </div>
        </div>
    </div>
</div>
