{% load thumbnail %}

<div class="gallery">
    <div class="gallerySlider">
        <div class="gallerySlider__container">
            <div class="gallerySlider__slider royalSlider">
{% for image in images %}
{#{% thumbnail image.image 1920x850 upscale as thumb %}#}
{#                <div class="rsContent gallerySlider__slide js-gallery-slide" style="background-image: url({{ thumb.url }})">#}
                <div class="rsContent gallerySlider__slide js-gallery-slide" style="background-image: url({{ image.image.url }})">
{% if image.text %}
                <div class="gallerySlider__moreInfo js-gallery-more-info-button"></div>
{% endif %}
{% if image.text %}
                <div
                    class="gallerySlider__text js-gallery-more-info-text"
                    style="
                            {% if image.text_width %}width:{{ image.text_width }}%;{% endif %}
                            {% if image.text_left %}left:{{ image.text_left }}%;{% endif %}
                            {% if image.text_top %}top:{{ image.text_top }}%;{% endif %}
                            {% if image.text_height %}height: {{ image.text_height }}%;{% endif %}
                    ">
                    {{ image.text }}
                </div>
{% endif %}
                </div>

{% endfor %}

            </div>
        </div>
    </div>
</div>
