{% load thumbnail cms_tags site_graphics %}
<div class="otherStories{% if instance.style %} otherStories--{{ instance.style }}{% endif %}">
    <div class="otherStories__container">
{% if cards|length > 0 %}
        <h2 class="otherStories__header{% if instance.style %} otherStories__header--{{ instance.style }}{% endif %}">Посмотрите другие истории</h2>

        <div class="otherStories__list">
            <div class="row">
{% for card in cards %}
                <div class="col-md-6">
                    <a class="otherStories__card" href="{{ card.extended_object.get_absolute_url }}">
                        <div class="otherStories__cardContent" {% if card.photo %}style="background-image: url({{ card.photo.url }})"{% endif %}>
                            {% if card.hero_name %}<div class="otherStories__cardName">{{ card.hero_name }}</div>{% endif %}
                            {% if card.place %}<div class="otherStories__cardPlace">{{ card.place }}</div>{% endif %}
                            {% if card.photographer %}<div class="otherStories__cardPhotographer">
                                {% camera %}
                                {{ card.photographer }}
                            </div>{% endif %}
                        </div>
                    </a>
                </div>
{% endfor %}
            </div>
        </div>

        <div class="otherStories__toIndex">
            <a class="otherStories__toIndexLink{% if instance.style %} otherStories__toIndexLink--{{ instance.style }}{% endif %}" href="{% page_url "home" %}">
                {% map_logo "home" %}
                Или вернитесь на главную
            </a>
        </div>
{% else %}
        <div class="otherStories__toIndex{% if instance.style %} otherStories__toIndex--{{ instance.style }}{% endif %}">
            <h2 class="otherStories__header{% if instance.style %} otherStories__header--{{ instance.style }}{% endif %}">Вы прочитали все истории :)</h2>
            <a class="11 otherStories__toIndexLink{% if instance.style %} otherStories__toIndexLink--{{ instance.style }}{% endif %}" href="{% page_url "home" %}">
                {% map_logo "home" %}
                Вернитесь на главную
            </a>
        </div>
{% endif %}
    </div>
    <script>window.pageId = {{ request.current_page.id }};</script>
</div>
