.gallery
  overflow: hidden
  &Slider
    position: relative
    +size(100%, 0)
    padding-top: 66.66666%

    &__moreInfo
      position: absolute
      bottom: 10px
      right: 10px
      +size(36px)
      border-radius: 50%
      background: #3c3d41
      cursor: pointer
      z-index: 100
      opacity: .7
      transition: opacity .5s ease
      &:hover
        opacity: 1
      &:before
        content: ""
        +size(20px)
        background: inline("info.svg")
        background-size: 100% 100%
        position: absolute
        left: 8px
        top: 8px

    &__text
      position: absolute
      padding: 60px 20px 50px 30px
      background: rgba(0,0,0,.6)
      color: white
      font-size: 1.1vw
      visibility: hidden
      opacity: 0
      transform: scale(.9)
      transition: all .5s ease
      .gallery-show-info &
        visibility: visible
        opacity: 1
        transform: scale(1)

    &__container
      +size(100%)
      position: absolute
      top: 0
      left: 0

    &__slide
      background: white center no-repeat
      background-size: contain


    &__slider

      &.royalSlider
        +size(100%)
        background: white
        &.rsFullscreen
          .rsFullscreenBtn
            .rsFullscreenIcn
              background: inline("exit-full-screen.svg")!important
          .rsArrow, .rsFullscreenBtn, .rsBullets, .gallerySlider__moreInfo
            opacity: 0
            visibility: hidden
            transition: all .4s ease
          &.show-navs
            .rsArrow, .rsFullscreenBtn, .rsBullets, .gallerySlider__moreInfo
              opacity: 1
              visibility: visible
          &.show-navs .gallerySlider__moreInfo
            opacity: .7

        .rsArrow
          position: absolute
          top: 30%
          +size(64px, 40%)

          &Icn
            +size(18px, 41px)
            position: absolute
            top: calc(50% - 21px)
            background-size: 100% 100%

          &Left
            left: 0
            .rsArrowIcn
              background: inline("arrow_left.svg")
              left: 20px

          &Right
            right: 0
            .rsArrowIcn
              background: inline("arrow_right.svg")
              right: 20px

        .rsBullets
          position: absolute
          left: 60px
          right: 60px
          bottom: 25px
          text-align: center
          @extend .hidden-md-down
        .rsBullet
          display: inline-block
          background: white
          +size(14px)
          margin: 0 8px
          border-radius: 50%
          opacity: .3
          transition: opacity .5s ease
          cursor: pointer
          &.rsNavSelected
            opacity: 1
        .rsFullscreen
          &Btn
            position: absolute
            top: 6px
            right: 6px
            +size(36px)
            cursor: pointer
            background: black
            opacity: .7
            transition: opacity .5s ease
            &:hover
              opacity: 1
          &Icn
            position: absolute
            top: 8px
            left: 8px
            +size(20px)
            background: inline("fullscreen.svg")
            background-size: 100% 100%