.header
  height: $header-height
  line-height: $header-height
  padding: 0 26px
  background: black
  color: white
  position: fixed
  width: 100%
  z-index: 20

  a
    color: white
    &:hover, &:focus, &:active
      color: white
      opacity: .8

  &__content
    @extend .container
    overflow: hidden

  &__title
    font-size: 18px
    display: inline
    margin-right: 27px
    font-weight: 300
    @extend .hidden-sm-down

  &__subTitle
    font-size: 14px
    vertical-align: 1px
    &Logo
      height: 16px
      margin-top: -2px
    &Link
      color: #848484!important
      @extend .hidden-md-down

  &__menu
    font-size: 14px
    font-weight: 300
    &Item
      float: right
      @extend .hidden-sm-down
      white-space: nowrap
      user-select: none
      margin-right: 16px
      +media-breakpoint-up(lg)
        margin-right: 55px
      &--star
        position: relative
        padding-left: 22px
        &:before
          content: ""
          position: absolute
          background: inline('star.svg') left top no-repeat
          background-size: 100%
          +size(18px, 15px)
          top: calc(50% - 9px)
          left: 0

  &__noise
    float: right


