.interview
  margin: 0 auto 30px
  max-width: 860px
  $switchDuration: .5s

  &__title
    text-align: center
    font-size: 24px
    font-family: "PT Serif", sans-serif
    font-weight: 300
    margin-bottom: 35px
    color: #292929

  &__container
    padding-top: 62px
    padding-bottom: 58px
    @extend .container
  &__text
    color: #292929
    &Question
      font-family: "PT Serif", sans-serif
      font-weight: bold
      font-style: italic
      margin-bottom: 13px
    &Answer
      margin-bottom: 22px
  &__video
    position: relative
    max-width: 100%
    margin-bottom: 10px
    cursor: pointer
    &Content
      position:  absolute
      +size(100%)
      top: 0
      left: 0
      bottom: 0
      right: 0
    &:before
      content: ""
      display: block
      padding-top: 56.4%

  &__progress
    position: relative
    +size(100%, 7px)
    &Bar
      +size(100%)
      position: absolute
      z-index: 1
      background: #555555 !important
      border: 0
      &::-webkit-progress-bar
        background: #555555
      &::-webkit-progress-value
        background: #ff0000
      &::-moz-progress-bar
        background: #ff0000
    &Parts
      position: absolute
      z-index: 2
      top: 0
      left: 0
      +size(100%)
      &Item
        height: 100%
        cursor: pointer
        float: left
        &:not(.start)
          border-left: 2px solid white
        &Question
          position: absolute
          +size(100%, 62px)
          top: 32px
          left: 0
          z-index: 2
          text-align: center
          white-space: normal
          opacity: 0
          visibility: hidden
          transition: all .5s ease
          background: white
        &:hover &Question, &.current &Question
          opacity: 1
          visibility: visible
        &:hover &Question
          z-index: 4

  &__switch
    $itsWidth: 312px
    $itsHeight: 30px

    margin: 0 auto 50px
    background: #ebebeb
    border-radius: $itsHeight / 2
    +size($itsWidth, $itsHeight)
    position: relative

    &Buttons
      +size($itsWidth, $itsHeight)

    &Variant
      float: left
      +size($itsWidth / 2, $itsHeight)
      line-height: $itsHeight
      text-align: center
      cursor: pointer

    &Marker
      +size($itsWidth / 2, $itsHeight)
      position: absolute
      top: 0
      left: 0
      overflow: hidden
      border-radius: $itsHeight / 2
      background: #3c3d41
      transition: left $switchDuration ease

    &Marker &Buttons
      position: absolute
      top: 0
      left: 0
      z-index: 0
      color: white
      transition: left $switchDuration ease

    &Marker &Variant
      cursor: default

    &.alt &Marker
      left: $itsWidth / 2

    &.alt &Marker &Buttons
      left: -$itsWidth / 2

  &Types
    position: relative
    perspective: 2000px

    &__variant
      position: absolute
      top: 0
      left: 0
      width: 100%
      opacity: 0
      visibility: hidden
      transition: all $switchDuration ease
      &--video
        transform-origin: left top
        transform: scale(.9) translate(-200px) rotateY(5deg)
      &--text
        transform-origin: right top
        transform: scale(.9) translate(200px) rotateY(-5deg)

      &.active
        transition: all 1s ease
        position: static
        visibility: visible
        opacity: 1
        transform: scale(1) translate(0px) rotateY(0deg)
