.magicPhoto
  padding-top: 44px

  &--dark
    background: black

  &__header
    margin-bottom: 36px
    position: relative

  &__container
    @extend .container

  &Link
    font-size: 18px
    color: black
    opacity: .5
    font-family: "PT Serif", sans-serif
    position: absolute
    top: 20px

    &__content
      visibility: hidden
      opacity: 0
      transition: all .5s ease
    &:hover, &:active, &:focus
      color: black
      opacity: 1
    &:hover &__content, &:active &__content, &:focus &__content
      opacity: 1
      visibility: visible
    &:before
      font-size: 30px
      font-family: Arial, sans-serif
      position: absolute

    &--dark
      color: white
      &:hover, &:active, &:focus
        color: white

    &--prev
      left: 0
      padding-left: 50px
      &:before
        content: "←"
        left: 0

    &--next
      right: 0
      padding-right: 50px
      text-align: right
      &:before
        content: "→"
        right: 0

  &__title
    text-align: center
    font-size: 48px
    +media-breakpoint-down(sm)
      font-size: 10vw
    font-weight: 300
    color: black
    margin-bottom: 0
    font-family: 'PT Serif', sans-serif
    &--dark
      color: white

  &__subTitle
    text-align: center
    font-size: 30px
    +media-breakpoint-down(sm)
      font-size: 6vw
    color: black
    font-family: 'PT Serif', sans-serif
    &--dark
      color: #868b93

  &__lineDesign
    @extend .hidden-sm-down
    position: relative
    border-bottom: 1px solid #cccccc
    height: 2px
    top: -20px
    &--dark
      border-color: #868b93

  &__region
    position: relative
    text-align: center
    margin: 46px 0
    +media-breakpoint-up(md)
      padding: 0 40px

    &Title
      background: #FFFFFF
      font-size: 24px
      color: #000000
      display: inline-block
      font-weight: 300
      position: relative
      z-index: 10
      padding: 0 40px
      &--dark
        color: #868b93
        background: black

  &__video
    position: relative
    max-width: 100%

    &Content
      position:  absolute
      +size(100%)
      top: 0
      left: 0
      bottom: 0
      right: 0
    &:before
      content: ""
      display: block
      padding-top: 56%
