.noise
  +size(33px, $header-height)
  cursor: pointer
  transition: all .2s ease
  position: relative

  &:after
    content: ''
    display: block
    position: absolute
    left: 50%
    top: 50%
    +size(13px)
    background: inline('noise.svg') center no-repeat
    background-size: 100%
    margin: -6.5px 0 0 -6.5px

  &:hover
    opacity: .8

  &:before
    content: ''
    display: block
    +size(0, 2px)
    background: red
    transform: rotate(-45deg)
    transform-origin: left bottom
    position: absolute
    top: $header-height/2
    left: 16px
    margin-left: -6px
    margin-top: 7px
    transition: all .5s ease

  &.muted
    &:before
      width: 21px
