.otherStories
  padding: 100px 0 130px 0
  &--dark
    background: black

  &__container
    @extend .container

  &__header
    text-align: center
    font-size: 24px
    font-weight: 300
    margin-bottom: 70px
    &--dark
      color: white


  &__toIndex
    text-align: center
    &Link
      font-size: 18px
      color: black
      &:hover
        color: black
        opacity: .7
      &--dark
        color: white
        &:hover
          color: white

  &__list
    margin: 0 auto 112px
    max-width: 1000px

  &__card
    display: block
    color: #fcfcfc
    font-size: 18px
    transition: all .3s ease
    position: relative
    max-width: 379px
    margin: 0 auto 20px
    &:before
      content: ""
      display: block
      padding-top: 67%
    &:hover, &:focus
      color: #fcfcfc
      text-decoration: none
      box-shadow: rgba(0, 0, 0, .5) 0 0 16px

    &Content
      background: center no-repeat
      background-size: cover
      padding: 26px 20px 20px 20px
      position: absolute
      top: 0
      left: 0
      +size(100%)

    &Photographer
      position: absolute
      bottom: 12px
      left: 20px
      font-size: 14px
      padding-left: 24px

      .camera
        display: block
        position: absolute
        fill: #b2b3b5
        left: -2px
        top: 2px




