$phBlockHeight: 614px


.photographer
  position: relative
  min-height: $phBlockHeight

  &__container
    @extend .container

  &__image
    +size(100%, $phBlockHeight)
    +media-breakpoint-up(md)
      position: absolute
      top: 0
      left: 0
      z-index: 0
    &Content
      +media-breakpoint-down(sm)
        width: 300%
        left: calc(250px - 100%)

  &__content
    position: relative
    z-index: 2
    &Description
      p
        margin-bottom: 2px
    &--white
      color: white

    &Text
      padding-top: 64px
      padding-bottom: 30px
      &--right
        @extend .offset-md-6

  &__header
    position: relative
    padding-bottom: 16px
    margin-bottom: 16px

    &:after
      content: ""
      position: absolute
      border-bottom: 1px solid black
      width: 140px
    &--white
      &:after
        border-color: white!important

    &Label
      font-size: 18px
      position: relative
      margin-bottom: 18px
      left: -32px
      &--content
        padding-left: 10px
      +media-breakpoint-down(sm)
        margin-left: 32px
      &--white
        .camera
          fill: white


    &Name
      font-size: 36px
      font-family: 'PT Serif', sans-serif
      font-weight: 300
      margin-bottom: 35px
