.place

  &__image
    +size(100%, 0)
    padding-top: 56.25%
    position: relative
    &Container
      position: absolute
      +size(100%)
      top: 0
      left: 0
    &Content
      //top: 10%!important
      //height: 150%!important

  &__ussr
    margin-top: 54px

  &__about
    padding: 40px 0 80px 0
    background: #e2e2e2

  &__title
    position: relative
    color: #ff1515
    font-size: 16px
    font-family: 'Roboto', sans-serif
    font-weight: 500
    text-transform: uppercase
    letter-spacing: 2px
    padding-left: 32px
    margin-bottom: 24px
    &:before
        content: ""
        position: absolute
        background: inline('star.svg') left top no-repeat
        background-size: 100%
        height: 18px
        width: 19px
        top: 2px
        left: 0
  &__description
    p
      margin-bottom: 2px

  &__mark
    position: absolute
    background: inline('star.svg') left top no-repeat
    height: 18px
    width: 19px
    background-size: 100%
