.quote
  font-size: 24px
  font-family: 'PT Serif', sans-serif
  text-align: center
  padding: 190px 0 180px 0
  &:before
    content: "—"

  &--borders
    max-width: 808px
    margin: auto
    padding: 40px 100px
    +media-breakpoint-down(sm)
      padding: 40px
    +media-breakpoint-down(xs)
      padding: 20px 0
    border-bottom: 1px solid #707070
    border-top: 1px solid #707070
    &:before
      content: ""

  &__container
    @extend .container

