.sharing
  margin-bottom: 86px
  margin-top: 60px

  &__container
    @extend .container

  &__logo
    margin: 70px auto 70px
    display: block

  &__title
    font-size: 18px
    margin-bottom: 25px
    font-weight: 400
    text-align: center

  &__buttons
    text-align: center

    .ya-share2__list
      border: 1px solid #d7d7d7
      width: 100%
      max-width: 472px
      display: flex
      flex-direction: row
      margin: auto

      .ya-share2__item
        padding-top: 11px
        padding-bottom: 11px
        flex: 1
        &:not(:first-child)
          border-left: 1px solid #d7d7d7
        transition: opacity .5s ease
        opacity: .5
        &:hover
          opacity: 1

        .ya-share2__badge
          background: white

        .ya-share2__icon
          +size(26px, 23px)

        &.ya-share2__item_service_facebook
          .ya-share2__icon
            background: inline("facebook.svg") center no-repeat
        &.ya-share2__item_service_twitter
          .ya-share2__icon
            background: inline("twitter.svg") center no-repeat
        &.ya-share2__item_service_vkontakte
          .ya-share2__icon
            background: inline("vk.svg") center no-repeat
        &.ya-share2__item_service_odnoklassniki
          .ya-share2__icon
            background: inline("ok.svg") center no-repeat
        &.ya-share2__item_service_gplus
          .ya-share2__icon
            background: inline("g+.svg") center no-repeat
