.simpleVideo
  max-width: 540px
  margin: 0 auto 30px
  &--wide
    max-width: none
  &__container
    padding-top: 62px
    padding-bottom: 58px
    @extend .container
  &__video
    position: relative
    max-width: 100%
    cursor: pointer
    &Content
      position:  absolute
      +size(100%)
      top: 0
      left: 0
      bottom: 0
      right: 0
    &:before
      content: ""
      display: block
      padding-top: 56%