.style
  @extend .container

  &--default
    padding-top: 62px
    padding-bottom: 75px
    h3
      font-size: 24px
      font-family: "PT Serif", sans-serif
      color: #292929
      margin-bottom: 38px
    p
      margin-bottom: 8px

  &--large_font
    font-size: 24px
    padding: 80px 100px
    font-family: "PT Serif", sans-serif

  &--paper
    border-bottom: 1px solid #707070
    border-top: 1px solid #707070
    position: relative
    padding: 0 80px
    margin-bottom: 30px
    font-family: "PT Serif", sans-serif
    h3
      font-size: 24px
      color: #292929
      margin-bottom: 32px

  &__inner
    &--paper
      background: #f6f6ed
      padding: 50px 55px
