.tileSet
  +size(100%)
  position: relative
  background: black

  &__container
    +size(100%, calc(100% - #{$footer-height}))
    position: relative
    overflow: hidden
    background: black
    opacity: 0
    transition: opacity 1s ease
    &.visible
      opacity: 1

  &__content
    +size(5000px, 3000px)
    position: absolute
    left: 0
    top: 0

    &USSR
      +size(97.5%, 82.2%)
      stroke: #363636
      stroke:
        width: 5px
        linecap: butt
        linejoin: miter
      position: absolute
      left: 1.44%
      top: 6.38%

  &__buttons
    position: absolute
    bottom: 0
    left: 0
    +size(100%, $footer-height)
    background: black
    color: white

    &Container
      +size(100%)
      max-width: 600px
      margin: auto
      position: relative
      display: flex
      flex-direction: row

    &Label
      @extend .hidden-sm-down
      position: absolute
      left: -70px
      line-height: $footer-height
      font-size: 12px
      opacity: .5

  &__button
    @extend .btn
    +button-variant(white, transparent, transparent)
    flex: 1

  &__range
    flex: 10
