.tile
  position: absolute
  background: black center no-repeat
  background-size: cover
  user-select: none

  &:before
    content: ''
    position: absolute
    display: block
    top: 0
    left: 0
    +size(100%)
    z-index: 1
    background: black
    opacity: .3
    transition: opacity .3s ease
  &:hover:before
    opacity: 0

  &__content
    position: absolute
    top: 0
    left: 0
    +size(100%)
    z-index: 2
    display: flex
    flex-direction: column
    justify-content: space-between
    color: white
    transition: all .3s ease
    text-decoration: none
    padding: 25px 23px
    &:hover
      text-decoration: none
      color: $gray-light

    &--mainPage
      background: red
      padding: 68px 50px 0 50px
      position: relative
      &:hover
        color: white
      .sharing
        position: absolute
        margin: 0px
        max-width: 491px
        left: 50px
        bottom: 50px
        .ya-share2
          &:before
            content: "Расскажите о проекте друзьям:"
            display: block
            font-size: 14px
            text-align: left
            margin-bottom: 10px
            opacity: 0.5
        .ya-share2__list
          display: block
          text-align: left
          border: none
          max-width: none


          .ya-share2__item:not(:first-child)
            border-left: none!important
          .ya-share2__item
            opacity: 1
            padding-right: 39px
            .ya-share2__badge
              background: transparent!important
            &.ya-share2__item_service_facebook
              .ya-share2__icon
                background: inline("facebook_white.svg") center no-repeat!important
                +size(16px, 16px)
                vertical-align: -6px
            &.ya-share2__item_service_twitter
              .ya-share2__icon
                background: inline("twitter_white.svg") center no-repeat!important
                +size(20px, 20px)
            &.ya-share2__item_service_vkontakte
              .ya-share2__icon
                background: inline("vk_white.svg") center no-repeat!important
                +size(20px, 20px)
            &.ya-share2__item_service_odnoklassniki
              .ya-share2__icon
                background: inline("ok_white.svg") center no-repeat!important
                +size(20px, 20px)
            &.ya-share2__item_service_gplus
              .ya-share2__icon
                background: inline("g+_white.svg") center no-repeat!important
                +size(24px, 20px)

        .logo--sharing
          display: none
        &__title
          display: none

        &__container
          padding: 0px


  &--aboutPage
    background: red

  &__subTitle
    font-weight: bold

  &__header
    font-size: 18px
    line-height: 1.2

  &__text
    font-family: "PT Serif", sans-serif
    line-height: 1.2
    font-size: 18px
    color: rgb(252, 252, 252)
  &--mainPage &__content
    display: block
    padding-right: 10px
  &--mainPage &__header
    font:
      family: "PT Serif", sans-serif
      size: 32px
    color: white
    font-weight: 400
    margin-bottom: 32px
    width: 300px

  &--mainPage &__text
    float: left
    color: #ffc000
    margin-top: 38px
    margin-left: 14px
    line-height: 1.25
    font:
      family: "PT Serif", sans-serif
      size: 17.9px

  &--text
    &Black
      color: black
    &White
      color: white
  &--header
    &Black
      color: black
    &White
      color: white


