.logo
  +size(36px)

  &--header
    fill: white
    +size(28px)
    vertical-align: -9px
    margin-right: 32px

  &--sharing
    display: block
    margin: 70px auto

  &--home
    display: block
    fill: red
    margin: 0 auto 17px

  &--forTile
    +size(114px, 110px)
    fill: #fdc026
    float: left
    margin-left: -7px
