@mixin videoIcon($videoIconSize: 50px)
  +size($videoIconSize)
  position: absolute
  left: calc(50% - #{$videoIconSize / 2})
  top: calc(50% - #{$videoIconSize / 2})
  z-index: 8
  opacity: 0
  visibility: hidden
  transition: all .5s ease
  &, path
    fill: #c8c8c8

@mixin videoIconVisible()
  opacity: 1
  visibility: visible
