html, body
  height: 100%

.page
  min-height: 100%
  display: flex
  flex-direction: column
  justify-content: space-between

  &__all
    //height: calc(100% - #{$footer-height})
    overflow-x: hidden

  &__content
    margin-top: $header-height
