.parallax
  position: relative
  overflow: hidden

  &__bg
    position: absolute
    +size(100%, 110%)
    left: 0
    top: -5%
    background: center no-repeat
    background-size: cover
    transform: translate3d(0, 0, 0)
