{% load video_icons %}
<div class="simpleVideo{% if instance.wide %} simpleVideo--wide{% endif %}">
    <div class="simpleVideo__container">
         <div class="simpleVideo__video js-simple-video">
             {% loading %}
             {% play %}
             {% pause %}
            <video
                class="simpleVideo__videoContent"
                src="{{ instance.video.url }}"
            ></video>
        </div>
    </div>
</div>
