{% load cms_tags %}

<div class="style style--{{ instance.style }}">
    <div class="style__inner style__inner--{{ instance.style }}">
{% for plugin in instance.child_plugin_instances %}
        {% render_plugin plugin %}
{% endfor %}
    </div>
</div>