{% load cms_tags %}
<div
        class="tile{% if instance.css_class %} tile--{{ instance.css_class }}{% endif %}"
        style="
            width: {{ instance.width }}px;
            height: {{ instance.height }}px;
            left: {{ instance.left }}px;
            top: {{ instance.top }}px;
            {% if background_color %}background-color: {{ background_color }};{% endif %}
            {% if background %}background-image: url({{ background.url }});{% endif %}
        "
>
{% if instance.page %}
    <a
            class="tile__content{% if instance.css_class %} tile__content--{{ instance.css_class }}{% endif %}"
            href="{{ instance.page.get_absolute_url }}"
    >
{% else %}
    <div class="tile__content{% if instance.css_class %} tile__content--{{ instance.css_class }}{% endif %}">
{% endif %}
            <div class="tile__header{% if instance.header_style %} tile__header--{{ instance.header_style }}{% endif %}">
{% if title %}
            <div class="tile__title{% if instance.header_style %} tile--header{{ instance.header_style|capfirst }}{% endif %}">{{ title|safe }}</div>
{% endif %}
{% if sub_title %}
            <div class="tile__subTitle{% if instance.header_style %} tile--header{{ instance.header_style|capfirst }}{% endif %}">{{ sub_title|safe }}</div>
{% endif %}
        </div>
{% for plugin in instance.child_plugin_instances %}
{% render_plugin plugin %}
{% endfor %}
{% if instance.text %}
        <div class="tile__text{% if instance.text_style %} tile--text{{ instance.text_style|capfirst }}{% endif %}">{{ instance.text|safe }}</div>
{% endif %}
{% if instance.page %}
    </a>
{% else %}
    </div>
{% endif %}
</div>
