{% load cms_tags %}
<div class="tileSet">
    <div class="tileSet__container">
        <div class="tileSet__content js-panzoom">
            {% include "tile/map.svg" %}
{% for plugin in instance.child_plugin_instances %}
{% render_plugin plugin %}
{% endfor %}
        </div>
    </div>
    <div class="tileSet__buttons">
        <div class="tileSet__buttonsContainer">
            <div class="tileSet__buttonsLabel">Масштаб</div>
            <button class="tileSet__button js-zoom-out">-</button>
            <input type="range" class="tileSet__range js-zoom-range">
            <button class="tileSet__button js-zoom-in">+</button>
        </div>
    </div>
</div>
