{% load video_icons %}
<div class="interview">
    <div class="interview__container">
        <h2 class="interview__title">Интервью</h2>
{% if instance.video and instance.questions.all|length > 0 %}
        <div class="interview__switch js-interview-switch">
            <div class="interview__switchButtons">
                <div class="interview__switchVariant js-interview-switch-button">Видеофрагмент</div>
                <div class="interview__switchVariant js-interview-switch-button">Текст</div>
            </div>
            <div class="interview__switchMarker">
                <div class="interview__switchButtons">
                    <div class="interview__switchVariant">Видеофрагмент</div>
                    <div class="interview__switchVariant">Текст</div>
                </div>
            </div>
        </div>
{% endif %}
        <div class="interviewTypes js-interview-types">
{% if instance.video %}
            <div class="interviewTypes__variant interviewTypes__variant--video js-interview-type js-interview-type-video active">
                <div class="interview__video js-interview-video">
                     {% loading %}
                     {% play %}
                     {% pause %}
                    <video class="interview__videoContent" src="{{ instance.video.url }}"></video>
                </div>
                <div class="interview__progress">
                    <progress class="interview__progressBar js-interview-progress" max='100' value='0'></progress>
                    <div class="interview__progressParts">
{% for question in questions %}
                        <div
                            class="interview__progressPartsItem js-interview-question"
                            data-time="{{ question.time }}"
                        >
                            <div class="interview__progressPartsItemQuestion">{{ question.question|safe }}</div>
                        </div>
{% endfor %}
                    </div>
                </div>
            </div>
{% endif %}
{% if text|length > 0 %}
            <div class="interviewTypes__variant interviewTypes__variant--text js-interview-type js-interview-type-text{% if not instance.video %} active{% endif %}">
                <div class="interview__text">
{% for question in text %}
                    <div class="interview__textQuestion">{{ question.question|safe }}</div>
                    <div class="interview__textAnswer">{{ question.answer|safe }}</div>
{% endfor %}
                </div>
            </div>
{% endif %}
        </div>
    </div>
</div>
