$enable-transitions: true;

$header-height: 40px;
$footer-height: 40px;

$font-family-base: 'Roboto', sans-serif;

$body-color: #000000;

$hr-border-color: #707070;



$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1270px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1210px
);
