{% load site_graphics %}
<div class="photographer">
    <div class="photographer__container">
        <div class="photographer__content photographer__content--{{ instance.text_position }} photographer__content--{{ instance.text_color }}">
            <div class="row">
                <div class="col-xs-12 col-md-6  photographer__contentText photographer__contentText--{{ instance.text_position }}">
                    <div class="photographer__header photographer__header--{{ instance.text_color }}">
                        <div class="photographer__headerLabel photographer__headerLabel--{{ instance.text_color }}">
                            {% camera "story" %}
                            <span  class="photographer__headerLabel--content">Фотограф истории</span>
                        </div>
                        <h2 class="photographer__headerName">{{ instance.name }}</h2>
                    </div>
                    <article class="photographer__contentDescription">{{ instance.description }}</article>
                </div>
            </div>
        </div>
    </div>
    <div class="photographer__image parallax">
        <div class="photographer__imageContent parallax__bg js-parallax" style="background-image: url({{ instance.photo.url }})"></div>
    </div>
</div>