{% load site_graphics %}
<script src="//yastatic.net/share2/share.js"></script>
<div class="sharing js-sharing-plugin" data-photo="{{ photo_url }}">
    <div class="sharing__container">
        {% logo "sharing" %}
        <h3 class="sharing__title">Поделитесь этой историей в своей соцсети:</h3>
        <div class="js-sharing sharing__buttons" id="sharing"></div>
    </div>
</div>
