{% extends "default.html" %}
{% load i18n staticfiles cms_tags static %}


{% block header_right %}{% endblock %}


{% block content %}
 <div class="er_404">
    <div class="container">
        <h1>404</h1>
        <h2>страница не найдена</h2>
        <div class="note">Данной страницы не существует, либо она была перемещена или удалена.</div>
        <a href="/">На главную</a>
    </div>
    </div>
{% endblock %}
