{% load cms_tags sekizai_tags staticfiles site_graphics share i18n menu_tags thumbnail %}<!doctype html>
<meta charset="utf-8">
<title>{% block title %}{% page_attribute "page_title" %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{% page_attribute "meta_description" %}">
<link rel="stylesheet" href="/static/styles/styles.css?v=2017.01.5.14.09">
<link rel="stylesheet" href="{% static "vendor/royalslider.css" %}">
<link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700i&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:Regular,Light,Bold,Medium&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" type="image/png" href="{% static "images/favicon.png" %}"/>
{% share_meta_tags %}
{% render_block "css" %}

{% cms_toolbar %}


<div class="page page--{% page_attribute "slug" %}">
    <div class="page__all page__all--{% page_attribute "slug" %}">
        <header class="page__header header">
            <div class="header__content">
                <a href="{% page_url "home" %}">
                    {% logo "header" %}
                    <h1 class="header__title">Последние императоры</h1>
                </a>
                <span class="header__subTitle">

                    <a href="https://www.novayagazeta.ru/" target="_blank" class="header__subTitleLink">Проект
                        <img class="header__subTitleLogo" src="{% static 'images/logo_ng.png' %}">
                        Новой газеты</a>
                </span>
                <div class="header__noise">
                    {% block header_right %}
                        {% placeholder "header_right" %}
                    {% endblock %}
                </div>
                <a href="{% page_url "home" %}" class="header__menuItem header__menuItem--star">Карта проекта</a>
                <a href="{% page_url "about" %}" class="header__menuItem header__menuItem--about">О проекте</a>
            </div>
        </header>

        <div class="page__content page__content--{% page_attribute "slug" %}">
            {% block content %}
                {% placeholder "content" %}
            {% endblock %}
        </div>
    </div>
</div>

<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="{% static "vendor/royalslider.js" %}"></script>
<script src="/static/scripts/app.js?v=2017.01.5.14.09"></script>
{% render_block "js" %}
